body { 
    font-family: Trebuchet, Verdana, Helvetica, sans-serif;
    color: #333845;
    background-image:url('../imgs/debut_dark.png');
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;

}
.boxed {
    background-color: white;
    border: 3px solid black;
    padding-right: 5%; 
    padding-left: 5%;
    padding-bottom: 7%;
}
/*Main Text Style*/
#main_text {
    padding-top: 5%;
    text-align: left;
    font-size: 150%;
}
#banner {
    font-family: Trebuchet, Helvetica;
    padding-left: 5%; 
    padding-right: 5%; 
    padding-top: 10%;
    text-align: right;
}
#name {
    font-size: 450%;
    font-weight: bold;
    color: black;
}   
#subname {
    font-style: italic;
    padding-bottom: 5%;
    font-size: 180%;
    color: #9484a5;
}
#menu {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    background-color: black;
    color: white;
    font-size: 120%;
    text-align: right;
}
.menubutton {
    color: #9484a5;
}
.menubutton:hover {
    color: white;
    cursor: pointer;
}
hr {
    border: none;
    background-color: black;
    color: black;
    height: 3px;
}

/*Link Styles*/
a:link {
    color: #9484a5;
    text-decoration: none;
}
a:hover {
    color: #333845;
}
a:visited {
    color: #9484a5;
}
